@import "account-variables";

.widget-customer-account-menu {
  .section {
    margin-top: 20px;

    & > .title {
      font-size: 1.1em;
      color: $gray;
      @include font2(trade);
      font-weight: bold;
    }

    .menu {
      margin-top: 30px;
      font-size: 1.1em;
      color: $gray;

      ul, li {
        list-style-type: none;
        a {
          color: $gray;
          @include font2(trade);

          &:hover {
            text-decoration: underline;
          }

          &.active {
            color: $red;
            font-weight: bold;
          }
        }
      }
    }
  }
}