@import "account-variables";

.widget-account-info {

  & > .title {
    @include font2("ralewayBold");
    font-size: 1.35em;
    margin-bottom: 30px;
    color: black;

    .smaller {
      font-size: 0.8em;
      color: #898989;
      font-weight: normal;
      margin-left: 8px;
    }
  }

}