/**
Breakpoints:



style:
780
  topmenu (catalog and social icons) appear
900


slider:
768
1170


 */
@font-face {
  font-family: 'Raleway';
  src: url("Raleway.eot");
  src: url("Raleway.eot?#iefix") format("embedded-opentype"), url("Raleway.woff") format("woff"), url("Raleway.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TradeGothicNo.2';
  src: url("TradeGothicNo2-Bold.eot");
  src: url("TradeGothicNo2-Bold.eot?#iefix") format("embedded-opentype"), url("TradeGothicNo2-Bold.woff") format("woff"), url("TradeGothicNo2-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Raleway';
  src: url("Raleway-Bold.eot");
  src: url("Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("Raleway-Bold.woff") format("woff"), url("Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'TradeGothic LT';
  src: url("TradeGothicLT.eot");
  src: url("TradeGothicLT.eot?#iefix") format("embedded-opentype"), url("TradeGothicLT.woff") format("woff"), url("TradeGothicLT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'next';
  src: url("TradeGothicNextLTPro-BdCm.eot");
  src: url("TradeGothicNextLTPro-BdCm.eot?#iefix") format("embedded-opentype"), url("TradeGothicNextLTPro-BdCm.woff") format("woff"), url("TradeGothicNextLTPro-BdCm.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
.table-form.no-label tr td input {
  height: 30px;
  padding-left: 12px;
  font-size: 0.7em;
  color: #a3a9ad;
  font-family: "TradeGothic LT";
  font-weight: normal; }
.table-form.no-label tr td input[type=checkbox] {
  width: auto;
  height: auto; }

.checkout-tunnel .checkout-event-form .event-section .errors {
  color: red;
  font-size: 0.8em; }
  .checkout-tunnel .checkout-event-form .event-section .errors.big {
    font-weight: bold;
    font-size: 1em;
    margin-top: 5px; }
.checkout-tunnel .checkout-event-form .event-section .cours-container h4.cours {
  margin-top: 10px;
  background: #ddd;
  padding: 5px;
  color: #8c8c8c; }
.checkout-tunnel .checkout-event-form .event-section fieldset {
  border: none; }
  .checkout-tunnel .checkout-event-form .event-section fieldset legend {
    background: black;
    width: 100%;
    display: block;
    color: white;
    padding: 8px;
    margin-top: 20px; }
  .checkout-tunnel .checkout-event-form .event-section fieldset .person {
    margin-top: 20px; }
    .checkout-tunnel .checkout-event-form .event-section fieldset .person .person-title {
      display: flex;
      justify-content: space-between; }
      .checkout-tunnel .checkout-event-form .event-section fieldset .person .person-title h4 {
        text-align: left;
        flex: auto; }
      .checkout-tunnel .checkout-event-form .event-section fieldset .person .person-title label {
        font-size: 0.8em; }
    .checkout-tunnel .checkout-event-form .event-section fieldset .person table {
      width: 100%; }
      .checkout-tunnel .checkout-event-form .event-section fieldset .person table input {
        width: 100%;
        padding: 5px; }
.checkout-tunnel .checkout-event-form .submit-container {
  text-align: right;
  margin-top: 20px; }

/*# sourceMappingURL=checkout.css.map */
