@import "variables";

.widget-password-recovery {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 85px;
  color: $gray;

  h2 {
    @include font(trade);
    font-size: 1.5em;
    margin-bottom: 42px;
  }

  p {
    font-size: 1em;

    &.small {
      color: $red;
      font-size: 0.7em;
      margin-top: 5px;
    }
  }

  .table-form {
    margin-top: 40px;
    width: 290px;

    .submit-tr {
      td {
        text-align: center;
      }
    }
  }

  .success {
    border-radius: 3px;
    border: 1px solid #468847;
    color: #468847;
    padding: 15px 3%;

    p {
      font-size: 0.9em;
    }
  }

  .error {
    border-radius: 3px;
    border: 1px solid $red;
    color: $red;
    padding: 15px 3%;
    margin-top: 20px;
    margin-bottom: -30px;


    p {
      font-size: 0.9em;
    }
  }

}