@import "variables";

.widget-product-card-list {

  margin-top: 15px;

  .title {
    color: red;
  }

  .ajax-target {

    .ajax-target {

      width: 500px;
      height: 500px;
      &.open {

      }
    }
  }
}

.widget-listfilter {

  $sidebarWidgetPadding: 20px;
  padding: $sidebarWidgetPadding;

  .listfilter-title {
    font-weight: bold;
    padding: 9px;
    background: #f0f0f0;
  }

  .listfilter-link {
    &:hover {
      text-decoration: underline;
    }
  }

  /*------------------------------------
  - WIDGET LISTFILTER SUMMARY
  ------------------------------------*/
  &.widget-listfilter-summary {

    padding: $sidebarWidgetPadding;

    .inner {
      padding: 8px;

      .top-title {
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
        font-size: 1.3em;
      }

      .box-container {
        background: #f9f9f9;
        border: 1px solid #f6f6f6;
        margin-top: 40px;
        padding: 10px;
        overflow: auto;
        clear: both;

        .title-box {
          font-weight: bold;
          margin-top: 5px;
        }

        .filter-box {
          margin-top: 15px;

          .filter {
            display: flex;
            align-items: center;
            //white-space: nowrap;

            a.delete-box {

              display: flex;
              align-items: center;
              width: 100%;

              &:hover {
                text-decoration: line-through;
              }

              .delete-icon {
                display: block;
                width: 24px;
                height: 24px;
                background: transparent url(/theme/lee/img/icons/close.png) no-repeat center center;
                background-size: contain;
                margin-right: 5px;

              }
            }

          }
        }

        .clear-all-box {
          margin-top: 20px;
        }
      }
    }

  }

  /*------------------------------------
  - WIDGET LISTFILTER ATTRIBUTES
  ------------------------------------*/
  .attribute-box {

    .attribute-links {
      margin-top: 8px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 3px;
      padding-bottom: 12px;

      .link-box {
        display: flex;
        align-items: center;
        margin-top: 3px;
        font-size: 0.9em;

        .c-box {
          display: block;
          cursor: pointer;
          margin-right: 9px;
          width: 20px;
          height: 20px;
        }
      }

    }

    .attribute-color-links {

      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .color {
        margin: 0 3px;
        width: 25px;
        height: 25px;
        border-radius: 30px;
        text-indent: -100000px;
        cursor: pointer;
        border: 1px solid #929292;
      }
    }

    .slider-box {
      padding: 35px 0;
      display: flex;
      flex-direction: column;

      .slider-container .back-bar .pointer-label {
        font-size: 13px;
        top: -24px;
      }

      .slider-container .scale ins {
        font-size: 13px;
      }

      .range-box {
        text-align: center;
        margin: 0 auto;
      }

      .ok-box {
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;

        &.hidden {
          display: none;
        }

        button {
          display: block;
          border: none;
          background: #ff6c00;
          color: white;
          padding: 3px 7px;
          text-transform: uppercase;
          font-size: 0.8em;
          cursor: pointer;
        }
      }
    }
  }

  /*------------------------------------
  - WIDGET LISTFILTER DISCOUNT
  ------------------------------------*/
  &.widget-listfilter-discount {

    .discount-boxes {

      padding-top: 13px;
      display: flex;
      flex-wrap: wrap;
      .discount-box {

        @include font(trade);
        margin: 0 5px;
        display: flex;
        flex-direction: column;
        color: black;

        .badge {
          font-size: 0.8em;
        }

      }
    }
  }

}