@import "variables";

/*------------------------------------
- PRODUCT PAGE
------------------------------------*/
.product-box {
  display: flex;
  justify-content: flex-start;

  .photos-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 86px;
    min-width: 86px;
    margin-right: 20px;

    .slick-arrow {
      border: none;
      text-indent: -10000px;
      cursor: pointer;
      display: block;
      height: 24px;
      width: 24px;
      margin: 8px auto;
    }

    .slick-prev.slick-arrow {
      background: url(#{$themeUri}/css/icons-sprite.png) -48px -72px no-repeat;
    }

    .slick-next.slick-arrow {
      background: url(#{$themeUri}/css/icons-sprite.png) -24px -72px no-repeat;
    }

    .vertical-carousel ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  /*------------------------------------
  - PRODUCT VIEWBOX
  ------------------------------------*/
  .product-viewbox {
    width: 880px;
    margin-right: 20px;

    .image-container {
      position: relative;
    }

    .image-container .video-wrapper {
      display: none;
    }

    .image-container .video-wrapper video,
    .image-container .video-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background: black;
    }

    .contact-us-banner {
      background: #dfdfdf;
      padding: 10px 5px;
      margin-top: 25px;
      font-family: "TradeGothic LT";
      font-size: 1.2em;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: -1px;
      display: flex;
      justify-content: space-between;
      line-height: 1em;
    }

    .contact-us-banner span {
      margin: 0px 10px;
    }

    .contact-us-info {
      width: 70%;
      margin: 10px auto 0 auto;
    }
  }

  /*------------------------------------
  - PRODUCT INFO
  ------------------------------------*/
  .product-info {
    @include font(raleway);
    min-width: 48%;

    & > .label {
      font-size: 1.3em;
      font-weight: bold;
      text-transform: uppercase;
    }

    .meta {
      margin-top: 5px;
      display: flex;
      justify-content: flex-start;
    }

    .meta .reference {
      flex: auto;
    }

    .description {
      margin-top: 10px;
      font-size: 0.9em;
    }

    .availability {
      float: none !important;
      margin: 0 !important;
    }

    .availability-countdown {
      color: #f00;
      font-weight: bold;
      font-size: 1.2em;
      margin-top: 10px;
      display: none;

      &.visible {
        display: block;
      }
    }

    .product-discount {

      .price {
        @include font(tradeBold);
        font-size: 2em;
        margin-top: 18px;
        margin-bottom: 15px;
        position: relative;
        display: inline-block;
        margin-right: 40px;
      }

      .price em {
        position: absolute;
        top: -4px;
        right: -28px;
        font-size: 0.5em;
        font-style: normal;
      }
      .original-price.has-discount {
        text-decoration: line-through;
      }
    }

    .pay-helpers {
      font-style: italic;
      font-size: 1em;
      text-decoration: underline;
    }

    .card-combinations {
      .card-combination {
        padding: 20px;
        border-bottom: 1px solid #ddd;
        display: flex;

        &:first-of-type {
          border-top: 1px solid #ddd;
          margin-top: 20px;
        }

        .image {
          margin-right: 10px;
          width: 150px;
        }

        & > .info {
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .title {
            font-size: 1.1em;
            font-weight: bold;

            .quantity-precision {
              font-size: 0.8em;
              font-weight: normal;
            }
          }

          .price-info-line {
            font-size: 0.8em;
            margin-top: 15px;
            .saving {
              margin-right: 15px;
            }
            .price-value.original-price {
              text-decoration: line-through;
            }
          }

          .price-line {
            display: flex;
            align-items: center;
            font-size: 0.8em;
            margin-top: 15px;

            .sale-price {
              font-size: 1.7em;
              margin-left: 10px;
              font-weight: bold;
            }
          }

          .attribute-selectors {
            margin-top: 30px;
            display: flex;
            .attribute-selector {
              margin: 0px 3px;

              .title {
                font-size: 1em;
                font-weight: normal;
              }
            }
          }

          .product-link {
            margin-top: 10px;
            a {
              font-size: 0.8em;
            }
          }


        }
      }
    }

    .line {
      margin-top: 30px;

      .quantity {
        margin-right: 20px;
      }

      .quantity input {
        width: 60px;
        height: 30px;
      }

      .bookmarks {
        display: block;
        padding-left: 41px;
        height: 32px;
        padding-top: 13px;
        background: url(#{$themeUri}/css/icons-sprite.png) 0px -272px no-repeat;
      }

      .add-to-estimate {
        margin-right: 20px;
      }


      .front-button.button-red.disabled {
        background: #8f8f8f;
        opacity: 0.3;
        cursor: not-allowed;

      }
    }

    .connect {
      font-style: italic;
      margin-top: 10px;
      text-decoration: underline;
    }
  }

}



