.pagination-element {

  margin-top: 20px;
  margin-right: 30px;



  display: flex;
  justify-content: flex-end;
  align-items: center;

  .page-text {
    margin-right: 10px;
  }

  ul {

    display: flex;
    flex-wrap: wrap;

    li {

      a {
        color: #848484;
        width: 10px;
        height: 10px;
        background: white;
        border: 1px solid #ddd;
        padding: 15px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;

      }

      &.active {

        a {
          color: white;
          background: #525252;
          font-size: 1.1em;
        }
      }

      &:hover {
        a {
          background: #f9f9f9;
        }

        &.active {

          a {
            color: white;
            background: #525252;
          }
        }
      }

    }
  }

}